@model IEnumerable<tmf.entities.OrderCooked>

@{
    ViewBag.Title = "Order Cooked";
}

<h2><span class="titleContent">Order Cooked</span></h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div class="bodyContent">
<table id="ordersCooked">
    <tr>
        <th></th>
        <th>
            Table
        </th>
        <th>
            Waiter
        </th>
        <th>
            Restaurant
        </th>
        <th>
            Menus
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @Html.Partial("Order", item)
    </tr>

}

</table>
    </div>
<script type="text/javascript">
    connectHub("cooked", "ordersCooked");
</script>

