@model IEnumerable<tmf.entities.OrderCooked>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="ordersCooked">
    <tr>
        <th></th>
        <th>
            Table
        </th>
        <th>
            Waiter
        </th>
        <th>
            Restaurant
        </th>
        <th>
            Menus
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @Html.Partial("Order", item)
    </tr>

}


</table>

<script type="text/javascript">
    connectHub("cooked", "ordersCooked");
</script>

