@model IEnumerable<tmf.entities.OrderPlaced>

@{
    ViewBag.Title = "Order Placed";
}

<h2><span class="titleContent">Order Placed</span></h2>
<div class="bodyContent">
<table id="orders">
    <tr>
        <th></th>
        <th>
            Table
        </th>
        <th>
            Waiter
        </th>
        <th>
            Restaurant
        </th>
        <th>
            Menus
        </th>
    </tr>
    
@foreach (var item in Model) {  
    <tr>  
        @Html.Partial("Order", item)
    </tr>
}

</table>
    </div>
<script type="text/javascript">
    connectHub("placed", "orders");
</script>



