@model IEnumerable<tmf.entities.OrderPlaced>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<div id="orders">

</div>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="orders">
    <tr>
        <th></th>
        <th>
            Table
        </th>
        <th>
            Waiter
        </th>
        <th>
            Restaurant
        </th>
        <th>
            Menus
        </th>
    </tr>
    
@foreach (var item in Model) {    
    @Html.Partial("Order", item)
}

</table>

<script type="text/javascript">
    connectHub("placed", "orders");
</script>



