@model IEnumerable<tmf.entities.OrderCreated>

@{
    ViewBag.Title = "Order Created";
}

<h2><span class="titleContent">Order Created</span></h2>

<div class="bodyContent">
<table id="ordersCreated">
    <tr>
        <th></th>
        <th>
            Table
        </th>
        <th>
            Waiter
        </th>
        <th>
            Restaurant
        </th>
        <th>
            Menus
        </th>
    </tr>


@foreach (var item in Model) {
    <tr>
        @Html.Partial("Order", item)
    </tr>
}

</table>
    </div>
<script type="text/javascript">
    connectHub("created", "ordersCreated");
</script>


