@model tmf.entities.Waiter

@{
    ViewBag.Title = "Create a waiter";
}

<h2><span class="titleContent">Create a waiter</span></h2>
<div class="bodyContent">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @*<fieldset>
        <legend>Waiter</legend>*@

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="submitInput" type="submit" value="Create" />
        </p>
    @*</fieldset>*@
}

<div class="backToListLink">
    @Html.ActionLink("Back to List", "Index")
</div>
</div>

