@{
    ViewBag.Title = "About Us";
}

<!--<div id="new-user">
    <form id="join" action="#">
        <label for="username">Name:</label>
        <input type="text" id="username" />
        <input type="submit" value="Join" />
    </form>
</div>-->

<div id="item-area">
        
    <label for="user">User: </label><input id="user" type="text" value="" />

    <form id="create-item" action="#">
        <input type="text" id="new-title" />
        <input type="submit" id="create" value="Create" />
    </form>

    <ul id="items">
            
    </ul>
</div>

<script type="text/javascript" src="@Url.Content("~/Hubs/TmfHub.js")"></script>
