@{
    ViewBag.Title = "About Us";
}

<!--<div id="new-user">
    <form id="join" action="#">
        <label for="username">Name:</label>
        <input type="text" id="username" />
        <input type="submit" value="Join" />
    </form>
</div>-->

<div id="partialtest">

</div>

<h2><span class="titleContent">About us</span></h2>

<div class="bodyContent">
    YouFood est un groupe de restaurant mettant à votre disposition de nombreux choix de plat aussi bien
    raffiné que varié. Cette diversité de plat est là pour satisfaire les grands comme les petits. Découvrez
    de nouvelles saveurs parmis nos plats exotiques.<br /><br />
    YouFood is a group of restaurant providing you many choices of refined and varied meals. This 
    diversity is here to satisfy everybody. Discover new tastes among our exotic meals.
<!-- <div id="item-area">        

    <form id="create-item" action="#">
        <label for="user">User: </label><input id="user" type="text" value="" />
        <input type="text" id="new-title" />
        <input type="submit" id="create" value="Create" />
    </form>

    <ul id="items">
            
    </ul>
</div> -->
</div>

<script type="text/javascript" src="@Url.Content("~/Hubs/TmfHub.js")"></script>
