@{
    ViewBag.Title = "Categories";
}

<h2><span class="titleContent">Who are you?</span></h2>

<div class="bodyContent">
<span class="liSelect">@Html.ActionLink("Client", "ChooseRole", "Home", new { role = "client" }, null)</span>
<span class="liSelect">@Html.ActionLink("Waiter", "ChooseRole", "Home", new { role = "waiter" }, null)</span>
<span class="liSelect">@Html.ActionLink("Cooker", "ChooseRole", "Home", new { role = "cooker" }, null)</span>
<span class="liSelect">@Html.ActionLink("Admin", "ChooseRole", "Home", new { role = "admin" }, null)</span>
</div>