@model tmf.entities.Restaurant

@{
    ViewBag.Title = "Create a restaurant";
}

<h2><span class="titleContent">Create a restaurant</h2></span>
<div class="bodyContent">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="submitInput" type="submit" value="Create" />
        </p>
}

<div class="backToListLink">
    @Html.ActionLink("Back to List", "Index")
</div>


    </div>