@model IEnumerable<tmf.entities.OrderCooking>

@{
    ViewBag.Title = "Order Cooking";
}

<h2><span class="titleContent">Order Cooking</span></h2>
<table id="ordersCooking">
    <tr>
        <th></th>
        <th>
            Table
        </th>
        <th>
            Waiter
        </th>
        <th>
            Restaurant
        </th>
        <th>
            Menus
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @Html.Partial("Order", item)
    </tr>
}

</table>

<script type="text/javascript">
    connectHub("cooking", "ordersCooking");
</script>

