@model tmf.entities.ProductType

@{
    ViewBag.Title = "Create a new product type";
}

<h2><span class="titleContent">Create a new product type</span></h2>

<div class="bodyContent">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="submitInput" type="submit" value="Create" />
        </p>
}

<div class="backToListLink">
    @Html.ActionLink("Back to List", "Index")
</div>
    </div>

