@model tmf.entities.ProductType

@{
    ViewBag.Title = "Edit a product type";
}

<h2><span class="titleContent">Edit a product type</span></h2>

<div class="bodyContent">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @*<fieldset>
        <legend>ProductType</legend>*@

        @Html.HiddenFor(model => model.Id)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="submitInput" type="submit" value="Save" />
        </p>
    @*</fieldset>*@
}

<div class="backToListLink">
    @Html.ActionLink("Back to List", "Index")
</div>
    </div>