@model tmf.entities.Menu

@{
    ViewBag.Title = "Create a menu";
}

<h2><span class="titleContent">Create a menu</span></h2>

<div class="bodyContent">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="submitInput" type="submit" value="Create" />
        </p>
}

<div class="backToListLink">
   @Html.ActionLink("Back to List", "Index")
</div>
    </div>

