@model tmf.entities.Menu

@{
    ViewBag.Title = "Edit a menu";
}

<h2><span class="titleContent">Edit a menu</span></h2>

<div class="bodyContent">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input class="submitInput" type="submit" value="Save" />
        </p>
}

<div class="backToListLink">
    @Html.ActionLink("Back to List", "Index")
</div>
    </div>