/* ****** YOUFOOD CSS ****** */
body
{
    font-family:'Segoe UI', 'Trebuchet MS';
}

.divSeparator
{
    text-align:center;
    height:1px;
    background-color:#d9d9d9;
}

#logon
{
    text-align:center;
    padding-top:20px;
    height:40px;
    width:150px;
    background-color:#d9d9d9;
    float:right;
}

#logon a
{
    text-decoration: none;
    color: #fff;
    font-style: italic;
}

#title
{
    height:120px;
    padding-top:20px;
    color:#808080;
    font-size:xx-large;
    margin-bottom:50px;
}

#iconResto
{
    float:left;
    margin-right:30px;
    margin-left:100px;
}

.liSeparator
{
    list-style-type:none;
    height:0px;
    display:block;
    padding-top:0px;
}

.liSelect
{
    list-style-type:none;
    margin:10px 10px 10px 10px;
    height:70px;
    width:150px;
    display:inline-block;
    text-align:center;
    padding-top:50px;
    
    background-color: #3b9fff;
    color: #fff;
}

.liSelect:hover
{
    list-style-type:none;
    margin:5px 5px 0px 5px;
    height:80px;
    width:160px;
    display:inline-block;
    text-align:center;
    padding-top:50px;
    
    
    background-color:#2780d5;
    color: #fff;
}

.liSelect a
{
    text-decoration: none;
    color: #fff;  
}

.liTitle
{
    list-style-type:none;
    margin:10px 10px 10px 10px;
    height:70px;
    width:150px;
    display:inline-block;
    text-align:center;
    padding-top:50px;
    
    background-color: #808080;
    color: #fff;
}
table
{
    margin: auto;
    border-collapse:collapse;
    text-align:left;
    border-bottom:1px solid #c6c6c6;
}

table th
{
    font-weight:400;
    font-style:italic;
    min-width:100px;
    color: #c6c6c6;
    border-bottom:1px solid #c6c6c6;
}

table td
{
    background-color:#fff;
    color:#8e8e8e;
    padding:10px 20px 10px 0px;    
}


table a
{
    text-decoration: none;
    color:#c6c6c6;
    font-style:italic;
}

.titleContent
{
    width:350px;
    height:70px;
    color:#fff;
    float:left;
    background-color:#808080;
    font-weight:400;
    text-align:center;
    padding-top:40px;
    margin-top:20px;
    margin-bottom:40px;
    margin-left:50px;
}

.bodyContent
{
    float:left;
    margin-left:70px;
    margin-top:10px;
    width:auto;
    color:#808080;
}

#aboutContent
{
    float:left;
    margin-left:70px;
    margin-top:15px;
    width:500px;
    color:#808080;
}

#footer
{
    float:left;
    margin-left:10000px;
    margin-top:30px;
}

.display-label
{
    font-style:italic;
}

.editor-label
{
    font-style:italic;
}

.custInput
{
    min-width: 200px;
    color:#808080;
}

.custSelect
{
    min-width: 200px;
    color:#808080;
}

.submitInput
{
    min-width: 200px;
    color: #fff;
    background-color:#3b9fff;
    border:none;
    height:30px;
    font-size:15px;
}

.submitInput:hover
{
    color: #fff;
    background-color: #2780d5;
    border: none;
}

.tableNumber
{
    margin-top:10px;
    padding-top:5px;
    min-width: 200px;
    height:30px;
    background-color: #3b9fff;
    text-align:center;
    color:#fff;
}

#ordersCreated tr
{
    border-bottom:1px solid #e5e5e5;
}

#ordersCreated li
{
    list-style-type:circle;
}

.displayMenu
{
    display:inline-block;
    margin-bottom: 10px;
    padding-bottom:5px;
    
}
.displayMenu img
{
    border:1px solid #c6c6c6;
}

.displayMenu input
{
    padding-bottom: 50px;
}

.displayMenuInformation
{
    text-align:center;
}

.createNewButton
{
    list-style-type:none;
    margin:20px 10px 10px 50px;
    height:70px;
    width:150px;
    display:inline-block;
    text-align:center;
    padding-top:50px;
    
    
    background-color: #3b9fff;
    color: #fff;
}

.createNewButton:hover
{
    background-color:#2780d5;
}

.createNewButton a
{
    text-decoration: none;
    color: #fff;  
}

.bodyAdminContent
{
    float:left;
    margin-left:70px;
    margin-top:10px;
    width:auto;
    color:#808080;
}
#paypalButton
{
    background-image:url(Images/btn_xpressCheckout.gif);
    border:none;
    width:144px;
    height:45px;
}

.backToListLink
{
    background-color:#3b9fff;
    width:200px;
    height:25px;
    margin-left:2px;
    padding-top:2px;
    text-align:center;
}

.backToListLink a
{
    text-decoration: none;
    color: #fff;
}

.backToListLink:hover
{
    background-color:#2780d5;
}

.deleteThis
{
    background-color:#c6c6c6;
    width:400px;
    height:30px;
    margin-left:2px;
    padding-top:2px;
    text-align:center;
    color:#fff;
}