@model IEnumerable<tmf.entities.OrderPaid>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="ordersPaid">
    <tr>
        <th></th>
        <th>
            Table
        </th>
        <th>
            Waiter
        </th>
        <th>
            Restaurant
        </th>
        <th>
            Menus
        </th>
    </tr>

@foreach (var item in Model) {
    @Html.Partial("Order", item)
}

</table>

<script type="text/javascript">
    connectHub("paid", "ordersPaid");
</script>
