@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/M/_Layout.cshtml";
}

<section class="content">
<header>
<h2>@ViewBag.Message</h2>
</header>

<p>
  About you Be Creative!!
</p>
</section>
